body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.intro-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    padding: 40px;
    margin: 40px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 500px;
    color: #ffffff;
}

.laptop-image {
    width: 45%;
    height: auto;
    border-radius: 10px;
}

.description {
    width: 50%;
}

.description h1 {
    color: #ffffff;
    font-size: 3em;
    margin-bottom: 20px;
}

.description p {
    color: #ffffff;
    line-height: 1.8;
    font-size: 1.2em;
}

.features {
    background: #ffffff;
    padding: 50px 0;
}

.feature {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.feature img {
    width: 40%;
    border-radius: 10px;
}

.feature-text {
    width: 60%;
    padding: 20px;
}

.feature:nth-child(even) {
    flex-direction: row-reverse;
}

.feature-text h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333333;
}

.feature-text p {
    font-size: 1.2em;
    color: #555555;
}

.benefits {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    padding: 50px 0;
    text-align: center;
    color: #ffffff;
}

.benefits h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.benefits ul {
    list-style: none;
    padding: 0;
}

.benefits ul li {
    font-size: 1.2em;
    margin: 10px 0;
}